@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Roboto+Slab:100,300,400,700);



body{
	
	  font-family: "Roboto Slab", sans-serif;
	  font-weight: 300;
	  font-size: 2em;
	  position: relative;
}

/*Body-Scroll*/
body::-webkit-scrollbar {
  width: 6px;
}
 
body::-webkit-scrollbar-thumb {
  background: #EEC856;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}
/*page*/
.page {
  padding: 70px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}

/**  Header Navigation **/

header .navbar {
  padding: 30px 0;
  transition: .5s ease-out;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #EEC856;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #E15D5F;
  background: transparent;
  text-shadow: none;
}

/**  Navbar Brand **/

header .navbar-brand {
  background: url(../images/acoustic_guitar.svg);
  background-repeat: no-repeat;
 background-size:30px;
 background-position: 75px 0;
 min-height: 100px
}

header .navbar-brand h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 105px;
}

header .navbar-brand span.subhead {
  display: block;
  font-family: "Roboto Slab", serif;
  font-size: .6em;
  font-weight: 100;
}

@media only screen and (max-width: 768px){
  header .navbar-brand h1{
    padding-top: 10px;
    padding-left: 115px
  }
}

/*Navbar-toggle*/
header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}


header .navbar-toggle {
  background-color: #279182;
}

@media only screen and (max-width: 768px){
	header .navbar-collapse.in {
  background-color: rgba(0,0,0, .5)
	}
  .navbar-brand{
    padding: 0px
  }
}

/*Navbar inbody*/
header .inbody {
  background: rgba(0,0,0,.9);
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 15px;
  background-position: 50px 0;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
  min-height: 40px
}

header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 58px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}

@media only screen and (max-width: 768px){
  header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 68px;
  padding-top: 10px;
}

}

/**  Carousel Fade **/

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 1;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

/**  Page -- Mission **/
#motto {
  background-color: #E4D29D;
  background-image: linear-gradient(to bottom, #EEF08A, #819A2D);
  border-top: 20px solid rgba(238, 200, 86, .5);
}

/**  Page -- types **/

.type {
  margin: 20px 0;
  text-align: center;
}

#types img.icon {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius:100px 
}

#types h3 {
  margin-bottom: 10px;
}



@media only screen 
and (min-width: 450px)
and (max-width: 768px) {
  .type p {
    padding: 0 20%;
  }
}


/**  Page -- Staff **/

#legends {
  background-color: #E4D29D;
  background-image: linear-gradient(to bottom, #E4D29D, #CDAE50);
}

.legend {
  margin: 10px 0;
}

.legend h3 {
  font-weight: 600;
  font-size: 1.2em;
  color: #6F4E36;
  padding-bottom: 5px;
}

.legend p {
  font-size: .8em;
}

.legend img {
  width: 100%;
}

/*Testimonial*/
#testimonials{
	padding:0;
}

#testimonials h2 {
  display: none;
}

#testimonials blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
  min-height: 500px;
  position: relative;
}

#testimonials blockquote .quote {
  background-color: rgba(255,255,255,.6);
  padding: 20px 5%;
  position: absolute;
  bottom: 0;
  width: 75%;
  font-weight: 400;
  border-radius: 0 50px 0 0;
}

#testimonials blockquote .quote:hover {
  background-color: rgba(239,240,196,.9);
}

#testimonials #sam {
  background: url(../images/Sam.jpg) no-repeat center center;
  background-size: cover;
}

#testimonials #reed {
  background: url(../images/Reed.jpg) no-repeat;
  background-size: cover;
}

#testimonials #glenn {
  background: url(../images/Glenn.jpg) no-repeat center center;
  background-size: cover;
}

#testimonials #daniel {
  background: url(../images/daniel.jpg) no-repeat center center;
  background-size: cover;
}

#testimonials .quote {
  font-size: 1.2em;
  line-height: 110%;
  font-weight: 400;
}

#testimonials .quote .more, #testimonials .customer {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
}

#testimonials .quote:hover .more {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  display: block;
  opacity: 1;
  font-size: .8em;
  line-height: 100%;
}

#testimonials .quote:hover .customer {
  display: block;
  font-size: .7em;
  text-align: right;
  opacity: 1;
}

#testimonials .quote .intro::after {
  content: '...';
}

#testimonials .quote:hover .intro::after {
  content: '';
}
/*Footer navigation*/
footer {
  background: #586D74;
  color: white;
  font-size: .8em;
  padding: 20px 0 40px 0;
}

footer a {
  color: #E0E6AE;
}

footer a:hover {
  color: #EEC856 !important;
}

footer .phone {
  font-size: 1.4em;
  font-weight: 700;
  color: #E0E6AE;
}

footer .navbar {
  margin-bottom: 0;
  min-height: 0;
}

footer .navbar-default {
  background-color: transparent;
  border: none;
  margin-right: 40px;
}

footer .navbar-nav>li a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: underline;
  color: #EEC856 !important;
}


/*social-icons*/
.social {
  position: fixed;
  bottom: 0%;
  right:0%;
  width: 53px;
  z-index: 9999;
}

.social li a{
  font-size:.7em;
}

.social ul {
  padding: 0px;
}
.social ul li {
  display: block;
  margin: 5px;
  width: 310px;
  text-align: left;
  padding: 10px;
  -webkit-border-radius: 30px 0 30px 30px;
  -moz-border-radius: 30px 0 30px 30px;
  border-radius: 30px 0 30px 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.w3_twitter{
  background:#1da1f2;
}
.w3_facebook{
  background:#3b5998;
}
.w3_dribbble{
  background:#ea4c89;
}
.w3_g_plus{
  background:#dd4b39;
}
.w3_twitter:hover{
  background:#54BAF2;
}
.w3_facebook:hover{
  background:#6187D5;
}
.w3_dribbble:hover{
  background:#EC6D9E;
}
.w3_g_plus:hover{
  background:#EA6A5B;
}
.social ul li:hover {
  -webkit-transform: translate(-110px, 0);
  -moz-transform: translate(-110px, 0);
  -ms-transform: translate(-110px, 0);
  -o-transform: translate(-110px, 0);
  transform: translate(-130px, 0);
}
.social ul li a{
  color:#212121;
}
.social ul li:hover a {
  color: #fff;
  text-decoration: none;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-right: 5px;
    color: #212121;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  text-align: center;
  background: #fff;
}
